# Environment specific
ENVIRONMENT="production"

# NextJS
NEXT_PUBLIC_API_BASE_URL="http://localhost:4000"
NEXT_PUBLIC_MAPBOX_TOKEN="MAPBOX_TOKEN_HERE"

# Microservices
API_GATEWAY_PORT=4000
SPLYT_TAXIS_MICROSERVICE_PORT=4010
SPLYT_TAXIS_MICROSERVICE_URL="http://api-splyt-taxis:4010"

# Splyt API - Include /api path (https://example.com/api)
SPLYT_API_URL="https://example.com/api"
